In [89]:
import numpy as np
import pandas as pd
import datetime
from dateutil.parser import parse

In [90]:
import json

In [91]:
with open('snowfalls.json', 'r') as infile:
    snowfalls_json = json.load(infile)

# Explore the structure of the JSON-like object holding the snowfall amounts by month.

In [92]:
len(snowfalls_json) # one dictionary

1

In [93]:
type(snowfalls_json)

dict

In [94]:
snowfalls_json.keys() # the first-level key points to a list of dictionaries

dict_keys(['snowfalls'])

In [95]:
snowfalls_json['snowfalls'][0].keys() # the third level - keys of dicts inside the list

dict_keys(['date', 'data'])

In [96]:
snowfalls_json['snowfalls'][0]['date']

'201701'

In [97]:
snowfalls_json['snowfalls'][0]['data'].keys()

dict_keys(['description', 'data'])

In [98]:
snowfalls_json['snowfalls'][0]['data']['data'].keys() # the fourth level keys in 'data'

dict_keys(['USC00210018', 'USC00210075', 'USC00210146', 'USC00210157', 'US1MNAA0054', 'USC00210252', 'USC00210287', 'US1MNMW0003', 'USC00210355', 'USC00210387', 'US1MNCS0003', 'US1MNOT0003', 'US1MNSH0019', 'US1MNKD0001', 'USC00210643', 'USC00210667', 'USC00210746', 'US1MNSH0010', 'US1MNRV0008', 'US1MNRV0005', 'USC00210809', 'USC00210855', 'US1MNIS0008', 'USC00210939', 'US1MNCW0008', 'US1MNCW0003', 'USC00210974', 'USC00210981', 'USC00210989', 'US1MNKB0003', 'US1MNHN0134', 'USC00211063', 'USC00211065', 'USC00211074', 'USC00211174', 'USC00211198', 'US1MNHS0004', 'USC00211227', 'USC00211250', 'USC00211263', 'USC00211310', 'US1MNCN0001', 'US1MNCV0001', 'USC00211374', 'USC00211422', 'US1MNCV0027', 'USC00211448', 'USC00211468', 'US1MNFM0001', 'US1MNSL0015', 'US1MNDD0011', 'USC00211630', 'USC00211691', 'US1MNBW0008', 'US1MNSL0034', 'USC00211771', 'US1MNWG0033', 'USC00211840', 'US1MNPK0013', 'US1MNSL0096', 'USC00212023', 'USC00212038', 'US1MNOT0007', 'USC00212088', 'US1MNOT0015', 'USC00212142', 'USC00212146', 'US1MNBK0010', 'US1MNSL0018', 'US1MNSL0002', 'US1MNSL0005', 'US1MNSL0020', 'US1MNSL0076', 'USW00014913', 'USC00212250', 'US1MNDK0070', 'US1MNHN0086', 'US1MNHN0017', 'US1MNPS0001', 'US1MNHN0019', 'US1MNHN0089', 'US1MNHN0110', 'US1MNOL0991', 'USC00212486', 'USC00212500', 'US1MNSC0025', 'US1MNSE0003', 'USC00212561', 'USC00212555', 'USC00212576', 'US1MNPK0002', 'USC00212645', 'USC00212721', 'USC00212842', 'USC00212881', 'USC00213076', 'USC00213104', 'US1MNMC0005', 'US1MNMC0006', 'USC00213174', 'US1MNHN0088', 'US1MNPG0003', 'USC00213282', 'USC00213290', 'USC00213296', 'US1MNIT0001', 'US1MNIT0007', 'USC00213303', 'USC00213311', 'US1MNSB0004', 'USC00213411', 'USC00213417', 'USC00213567', 'US1MNSL0006', 'US1MNTD0004', 'USC00213808', 'USC00214008', 'USW00014918', 'US1MNDK0014', 'USC00214077', 'USC00214093', 'USC00214103', 'USC00214106', 'USC00214176', 'USC00214191', 'US1MNSL0095', 'US1MNIT0006', 'US1MNDS0006', 'USC00214373', 'US1MNRM0001', 'USC00214418', 'USC00214438', 'US1MNGH0003', 'US1MNBK0006', 'USC00214534', 'USC00214453', 'US1MNDK0049', 'US1MNDK0073', 'US1MNDK0053', 'USC00214546', 'US1MNHB0003', 'US1MNLS0012', 'USC00214652', 'USC00214692', 'USC00214778', 'US1MNMR0004', 'US1MNHN0006', 'USC00214861', 'US1MNTD0005', 'USC00214884', 'US1MNRW0003', 'USC00214990', 'USC00214994', 'USC00215089', 'US1MNDD0003', 'US1MNHN0031', 'US1MNHN0150', 'US1MNHN0072', 'USC00215204', 'US1MNLY0002', 'US1MNAT0004', 'USC00215325', 'US1MNWD0980', 'USC00215392', 'USC00215400', 'US1MNHN0160', 'US1MNHN0099', 'US1MNHN0009', 'US1MNHN0022', 'US1MNHN0108', 'US1MNHN0028', 'USW00014922', 'USC00215482', 'USC00215488', 'US1MNHN0014', 'US1MNCP0001', 'USC00215563', 'US1MNRC0001', 'US1MNCY0001', 'USC00215598', 'USC00215615', 'US1MNSV0003', 'USC00215638', 'US1MNGH0004', 'USC00215838', 'US1MNRC0011', 'US1MNBW0002', 'USC00215888', 'USC00215902', 'US1MNCG0016', 'US1MNCG0027', 'US1MNRM0002', 'US1MNDK0063', 'USC00215989', 'US1MNWG0035', 'US1MNML0001', 'USC00216166', 'USC00216211', 'USC00216225', 'USC00216276', 'US1MNOT0009', 'USC00216287', 'US1MNSE0002', 'US1MNOT0006', 'US1MNCS0001', 'USC00216547', 'US1MNWG0008', 'USC00216565', 'US1MNHN0030', 'USC00216612', 'USC00216654', 'US1MNFM0004', 'US1MNSH0985', 'US1MNSC0002', 'USC00216787', 'USC00216795', 'USC00216817', 'USC00216822', 'USC00216839', 'US1MNRV0011', 'USC00216920', 'US1MNHN0078', 'US1MNOT0018', 'US1MNOT0013', 'US1MNHN0128', 'US1MNOL0018', 'US1MNOL0006', 'USC00217011', 'USW00014925', 'USC00217020', 'US1MNRS0001', 'US1MNDK0011', 'US1MNDK0067', 'US1MNDK0044', 'USC00217107', 'US1MNRM0056', 'US1MNRM0015', 'US1MNRM0046', 'USC00217149', 'US1MNCG0001', 'USC00217184', 'US1MNSL0082', 'US1MNSR0004', 'US1MNAA0004', 'US1MNHN0152', 'US1MNWR0008', 'US1MNWR0025', 'US1MNRM0039', 'US1MNRM0007', 'US1MNRM0054', 'US1MNNC0003', 'USC00217460', 'US1MNSR0009', 'USC00217602', 'US1MNLK0009', 'US1MNMC0007', 'USC00217917', 'US1MNHN0083', 'USC00217941', 'US1MNBW0001', 'USW00014926', 'USC00217326', 'US1MNCG0007', 'US1MNWG0020', 'USC00218039', 'USC00218191', 'USC00218215', 'USC00218227', 'US1MNPG0004', 'USC00218247', 'USC00218254', 'US1MNCK0003', 'USC00218311', 'USC00218323', 'US1MNNR0001', 'USC00218419', 'US1MNLK0004', 'USC00218421', 'US1MNLK0005', 'USC00218450', 'USC00218477', 'USC00218520', 'US1MNCV0022', 'USC00218552', 'USC00218618', 'US1MNMS0005', 'USC00218674', 'US1MNWC0005', 'USC00218692', 'USC00218700', 'US1MNCV0008', 'USC00218729', 'USC00218808', 'USC00218907', 'USC00218947', 'USC00218986', 'US1MNKD0003', 'USC00219001', 'USC00219033', 'USC00219046', 'USC00219059', 'USC00219072', 'US1MNSL0080', 'USC00219134', 'US1MNWG0016', 'USC00219170', 'USC00219173', 'US1MNFM0010', 'US1MNSH0017', 'US1MNWB0004', 'USC00219249'])

In [99]:
snowfalls_json['snowfalls'][0]['data']['data']['USC00210018'].keys()  # all stations for the first month's data - fifth level

dict_keys(['station_name', 'lat', 'lon', 'state', 'county', 'elev', 'date', 'values'])

In [100]:
snowfalls_json['snowfalls'][0]['data']['data']['USC00210018']['date']

'20170101'

In [102]:
parse('20170101')

datetime.datetime(2017, 1, 1, 0, 0)

In [103]:
snowfalls_json['snowfalls'][0]['data']['data']['USC00210018']['values'].keys() # 6 levels deep

dict_keys(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31'])

In [104]:
len(snowfalls_json['snowfalls']) # there are 11 months of data here

11

In [105]:
# Helper function to add the day key to the base date

def fix_dates(first_day_of_month, calendar_day):
    return first_day_of_month + datetime.timedelta(days=(int(calendar_day) - 1))

In [106]:
fix_dates(parse('20170101'), '15') # should be January 15, 2019

datetime.datetime(2017, 1, 15, 0, 0)

In [107]:
# snowfalls_json['snowfalls'][0]['data']['data']['USC00210018']['values']

In [108]:
def station_df(index, station):
    # We do not know if a value is 'M' for missing because there is 
    # less than 'T'race amounts of snow or simply not observed.  Therefore,
    # return np.nan (NaN)
    def convert_snow (amount):
        if (amount == 'T'):
            return 0.01
        elif (amount == 'M'):
            return np.nan
        else:
            return float(amount)
            
    
    first_day_of_month = parse(snowfalls_json['snowfalls'][index]['data']['data'][station]['date'])
    snowfall_dict = snowfalls_json['snowfalls'][index]['data']['data'][station]['values']
    
    dates = [fix_dates(first_day_of_month, date) for date in snowfall_dict.keys()]
    snow = [convert_snow(amount) for amount in snowfall_dict.values()]
    
    return pd.DataFrame({
        'station': station,
        'name': snowfalls_json['snowfalls'][index]['data']['data'][station]['station_name'],
        'county': snowfalls_json['snowfalls'][index]['data']['data'][station]['county'],
        'longitude': float( snowfalls_json['snowfalls'][index]['data']['data'][station]['lon'] ),
        'latitude': float( snowfalls_json['snowfalls'][index]['data']['data'][station]['lat'] ),
        'date': dates,
        'snowfall': snow
    })

# Compare the Stucture of the JSON object to the DataFrame we produce below
Both give all snowfall amounts for one repoting station for one month.  The DataFame is easier to work with but contains alot of repeated information.

In [109]:
snowfalls_json['snowfalls'][0]['data']['data']['USC00210018']

{'station_name': 'ADA',
 'lat': '47.30',
 'lon': '-96.52',
 'state': 'MN',
 'county': 'NORMAN',
 'elev': '907',
 'date': '20170101',
 'values': {'1': '0.0',
  '2': '2.0',
  '3': '4.2',
  '4': '0.0',
  '5': '0.0',
  '6': '0.0',
  '7': '0.0',
  '8': '0.0',
  '9': '0.5',
  '10': '1.0',
  '11': '3.5',
  '12': '0.0',
  '13': '0.0',
  '14': '0.0',
  '15': '0.0',
  '16': '0.0',
  '17': '0.0',
  '18': '0.0',
  '19': '0.0',
  '20': '0.0',
  '21': '0.0',
  '22': '0.0',
  '23': '0.0',
  '24': '0.0',
  '25': '0.0',
  '26': '0.0',
  '27': '0.0',
  '28': '0.0',
  '29': '0.0',
  '30': '0.0',
  '31': '0.0'}}

In [110]:
station_df(0,'USC00210018')

        station name  county  longitude  latitude       date  snowfall
0   USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-01       0.0
1   USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-02       2.0
2   USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-03       4.2
3   USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-04       0.0
4   USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-05       0.0
5   USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-06       0.0
6   USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-07       0.0
7   USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-08       0.0
8   USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-09       0.5
9   USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-10       1.0
10  USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-11       3.5
11  USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-12       0.0
12  USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-13       0.0
13  USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-14       0.0
14  USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-15       0.0
15  USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-16       0.0
16  USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-17       0.0
17  USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-18       0.0
18  USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-19       0.0
19  USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-20       0.0
20  USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-21       0.0
21  USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-22       0.0
22  USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-23       0.0
23  USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-24       0.0
24  USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-25       0.0
25  USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-26       0.0
26  USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-27       0.0
27  USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-28       0.0
28  USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-29       0.0
29  USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-30       0.0
30  USC00210018  ADA  NORMAN     -96.52      47.3 2017-01-31       0.0

In [111]:
# Now grab all of the stations for one month - i.e., one position on the list:

def all_stations_one_month(index):
    
    stations = snowfalls_json['snowfalls'][index]['data']['data'].keys()
    
    list_of_df = [station_df(index, station) for station in stations]
    
    long_df = pd.concat(list_of_df)
    
    # Now - fix up the index:
    long_df.reset_index(drop=True, inplace=True)
    
    return long_df

In [112]:
date1 = all_stations_one_month(0)

In [113]:
date1.shape

(9641, 7)

In [114]:
date1.describe()

         longitude     latitude     snowfall
count  9641.000000  9641.000000  7289.000000
mean    -93.773023    45.621286     0.375334
std       1.423072     1.358493     1.018711
min     -96.870000    43.520000     0.000000
25%     -94.830000    44.660000     0.000000
50%     -93.500000    45.130000     0.000000
75%     -92.910000    46.810000     0.010000
max     -89.690000    48.840000    10.000000

In [115]:
date1

          station      name   county  longitude  latitude       date  snowfall
0     USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-01       0.0
1     USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-02       2.0
2     USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-03       4.2
3     USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-04       0.0
4     USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-05       0.0
5     USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-06       0.0
6     USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-07       0.0
7     USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-08       0.0
8     USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-09       0.5
9     USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-10       1.0
10    USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-11       3.5
11    USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-12       0.0
12    USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-13       0.0
13    USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-14       0.0
14    USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-15       0.0
15    USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-16       0.0
16    USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-17       0.0
17    USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-18       0.0
18    USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-19       0.0
19    USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-20       0.0
20    USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-21       0.0
21    USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-22       0.0
22    USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-23       0.0
23    USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-24       0.0
24    USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-25       0.0
25    USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-26       0.0
26    USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-27       0.0
27    USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-28       0.0
28    USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-29       0.0
29    USC00210018       ADA   NORMAN     -96.52      47.3 2017-01-30       0.0
...           ...       ...      ...        ...       ...        ...       ...
9611  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-02       NaN
9612  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-03       0.5
9613  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-04       NaN
9614  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-05       NaN
9615  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-06       NaN
9616  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-07       NaN
9617  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-08       NaN
9618  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-09       NaN
9619  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-10       0.0
9620  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-11       5.5
9621  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-12       0.0
9622  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-13       NaN
9623  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-14       NaN
9624  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-15       NaN
9625  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-16       NaN
9626  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-17       NaN
9627  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-18       NaN
9628  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-19       0.0
9629  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-20       NaN
9630  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-21       NaN
9631  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-22       NaN
9632  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-23       NaN
9633  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-24       NaN
9634  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-25       4.0
9635  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-26       NaN
9636  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-27       NaN
9637  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-28       NaN
9638  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-29       NaN
9639  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-30       NaN
9640  USC00219249  ZUMBROTA  GOODHUE     -92.67      44.3 2017-01-31       NaN

[9641 rows x 7 columns]

In [122]:
# Now piece this all together:
# Remember of json object is a global variable

def all_stations_all_months():
    
    number_of_stations = len(snowfalls_json['snowfalls'])
    
    # stations = snowfalls_json['snowfalls'][index]['data']['data'].keys()
    # remember we have one station with no data 201512 <Response [404]>
    # for the key '201512', the 'data' key maps to False
    
    list_of_df = [all_stations_one_month(index) for index in range(number_of_stations)\
                  if snowfalls_json['snowfalls'][index]['data']]
    
    long_df = pd.concat(list_of_df)
    
    # Now - fix up the index:
    long_df.reset_index(drop=True, inplace=True)
    
    return long_df

In [123]:
all_amounts_df = all_stations_all_months()

In [124]:
all_amounts_df.shape

(107058, 7)

In [126]:
all_amounts_df.describe()

           longitude       latitude      snowfall
count  107058.000000  107058.000000  78237.000000
mean      -93.746734      45.597274      0.498753
std         1.402567       1.339999      1.414293
min       -96.940000      43.520000      0.000000
25%       -94.610000      44.670000      0.000000
50%       -93.490000      45.140000      0.000000
75%       -92.890000      46.710000      0.010000
max       -89.690000      48.840000     25.000000

In [127]:
# Remove missing data
all_amounts_df.dropna(inplace=True)

In [128]:
all_amounts_df.shape

(78237, 7)

In [129]:
len(all_amounts_df['date'].unique())

301

In [130]:
len(all_amounts_df['station'].unique())

548

In [131]:
all_amounts_df.to_csv("snowfall.csv") # Save our work to this point

In [175]:
# While a map of snowfall for all 548 stations would be very detailed, this is more than what is 
# needed.  We will limit to the MSP metro counties

METROCOUNTIES = ['HENNEPIN', 'RAMSEY', 'ANOKA', 'CARVER', 'DAKOTA', 'SCOTT', 'WRIGHT', 'SHERBURNE', 'ISANTI',\
                'WASHINGTON', 'CHISAGO']

def filter_by_dates(df, start_date, end_date, counties=METROCOUNTIES):
    """For each station, return the cumulative snowfall from start_date to end_date, inclusive"""
    
    number_of_days = (end_date - start_date).days + 1 # since inclusive
    
    range_of_days = [start_date + datetime.timedelta(days=day) for day in range(number_of_days)]
    
    time_cond = df['date'].isin(range_of_days)
    
    county_cond = df['county'].isin(counties)
    
    combined_cond = time_cond & county_cond
    
    return df[combined_cond]

In [179]:
filtered_df = filter_by_dates(all_amounts_df, start_date, end_date)

In [178]:
def group_and_summarize_dataframe (df, grouping, stats):
    """Compute summary quantities for a pandas dataframe after grouping.
    
    Args:
        df: A pandas dataframe
        grouping: A column name or a list of column names to group
            the dataframe with.
        stats: A list of tuples. Each tuple is of the form:
            
            (name, column, function)
        
        where `name` is the desired output name for the summary quantity,
        `column` is the target column of the data frame, and `function` is 
        the function used to compute the summary.
        
    Returns:
        A pandas dataframe with the output summaries.
        
    Raises:
        None.  At this time, there is no error checking for the input parameters.
    """
        
    # Create an empty dataframe to store the results.
    results_df = pd.DataFrame()
    
    grouped_df = df.groupby(grouping)
    
    for name, column, agg_func in stats:
        results_df[name] = grouped_df[column].agg(agg_func)
        
    return results_df.reset_index()

In [180]:
snowtotal_df = group_and_summarize_dataframe(filtered_df, 'station',\
                                           [('name', 'name', lambda x: x.unique()),\
                                            ('county', 'county', lambda x: x.unique()),\
                                            ('longitude', 'longitude', lambda x: x.unique()),\
                                            ('latitude', 'latitude',  lambda x: x.unique()),\
                                            ('snowtotal', 'snowfall', 'sum')])

snowtotal_df

,station,name,county,longitude,latitude,snowtotal
0,US1MNAA0004,SAINT FRANCIS 4.0 E,ANOKA,-93.31,45.41,7.0
1,US1MNAA0054,ANOKA 1.3 SSE,ANOKA,-93.37,45.19,5.3
2,US1MNAA0056,BLAINE 2.2 NNW,ANOKA,-93.23,45.20,5.5
3,US1MNAA0068,EAST BETHEL 3.0 NE,ANOKA,-93.16,45.39,4.0
4,US1MNAA0073,ANOKA 6.5 N,ANOKA,-93.41,45.30,5.0
5,US1MNCG0001,RUSH CITY 2.8 NE,CHISAGO,-92.93,45.72,6.0
6,US1MNCG0003,CHISAGO CITY 1.8 ENE,CHISAGO,-92.88,45.36,4.5
7,US1MNCG0007,STACY 1.4 NW,CHISAGO,-93.02,45.40,5.5
8,US1MNCG0027,NORTH BRANCH 2.4 WSW,CHISAGO,-93.01,45.50,5.1
9,US1MNCG0028,STANCHFIELD 4.9 ESE,CHISAGO,-93.09,45.64,5.5
10,US1MNCV0008,WATERTOWN 0.5 NNW,CARVER,-93.85,44.97,5.0
11,US1MNCV0022,VICTORIA 1.6 WSW,CARVER,-93.69,44.86,5.0
12,US1MNCV0027,CHANHASSEN 3.4 NW,CARVER,-93.61,44.89,5.1
13,US1MNCV0028,CHASKA 0.6 E,CARVER,-93.60,44.81,4.8
14,US1MNDK0011,ROSEMOUNT 3.3 WNW,DAKOTA,-93.13,44.76,6.5
15,US1MNDK0014,INVER GROVE HEIGHTS 1.3 ENE,DAKOTA,-93.04,44.83,4.0
16,US1MNDK0015,BURNSVILLE 3.0 NE,DAKOTA,-93.23,44.79,4.5
17,US1MNDK0044,ROSEMOUNT 4.5 WSW,DAKOTA,-93.15,44.72,6.0
18,US1MNDK0053,LAKEVILLE 3.8 ENE,DAKOTA,-93.18,44.70,4.5
19,US1MNDK0063,NORTHFIELD 2.4 NE,DAKOTA,-93.13,44.48,3.2
20,US1MNDK0070,EAGAN 2.0 NNW,DAKOTA,-93.18,44.84,4.5
21,US1MNDK0073,LAKEVILLE 2.6 NNE,DAKOTA,-93.23,44.71,5.0
22,US1MNHN0006,LONG LAKE 0.2 WSW,HENNEPIN,-93.57,44.98,5.5
23,US1MNHN0009,MINNEAPOLIS 3.0 NNW,HENNEPIN,-93.29,45.00,6.5
24,US1MNHN0014,MINNETRISTA 1.5 SSE,HENNEPIN,-93.70,44.91,4.7
25,US1MNHN0017,EDEN PRAIRIE 3.3 WSW,HENNEPIN,-93.52,44.83,4.5
26,US1MNHN0022,MINNEAPOLIS 3.3 SW,HENNEPIN,-93.32,44.93,5.8
27,US1MNHN0028,MINNEAPOLIS 3.8 SSW,HENNEPIN,-93.29,44.91,4.5
28,US1MNHN0031,MAPLE GROVE 1.0 NNE,HENNEPIN,-93.46,45.12,4.2
29,US1MNHN0065,MINNEAPOLIS 2.4 NE,HENNEPIN,-93.24,45.01,6.2
...,...,...,...,...,...,...
49,US1MNRM0063,NORTH SAINT PAUL 1.0 NW,RAMSEY,-93.01,45.02,5.5
50,US1MNSC0002,PRIOR LAKE 2.0 W,SCOTT,-93.46,44.71,3.5
51,US1MNSC0033,SHAKOPEE 2.6 W,SCOTT,-93.53,44.78,5.5
52,US1MNSH0010,BIG LAKE 5.6 NNE,SHERBURNE,-93.69,45.41,6.2
53,US1MNSH0017,ZIMMERMAN 0.6 S,SHERBURNE,-93.60,45.43,0.0
54,US1MNSH0025,ELK RIVER 1.8 SSW,SHERBURNE,-93.58,45.31,6.0
55,US1MNSH0985,PRINCETON 3.3 WSW,SHERBURNE,-93.64,45.55,6.5
56,US1MNWG0016,WOODBURY 1.7 N,WASHINGTON,-92.92,44.93,6.0
57,US1MNWG0020,STILLWATER 1.4 NE,WASHINGTON,-92.81,45.07,5.0
58,US1MNWG0033,COTTAGE GROVE 1.6 NNW,WASHINGTON,-92.94,44.84,5.5
59,US1MNWG0035,OAK PARK HEIGHTS 2.4 W,WASHINGTON,-92.84,45.03,6.0
60,US1MNWG0052,ST PAUL PARK 0.6 NNE,WASHINGTON,-92.99,44.84,4.9
61,US1MNWG0058,DELLWOOD 0.5 NNW,WASHINGTON,-92.97,45.11,5.3
62,US1MNWR0008,SAINT MICHAEL 1.3 E,WRIGHT,-93.67,45.20,8.1
63,US1MNWR0025,SAINT MICHAEL 2.0 ENE,WRIGHT,-93.65,45.21,4.8
64,US1MNWR0040,CLEARWATER 5.4 SSE,WRIGHT,-94.03,45.35,7.0
65,US1MNWR0048,SAINT MICHAEL 2.5 SSW,WRIGHT,-93.71,45.17,6.5
66,USC00211227,CAMBRIDGE 5ESE,ISANTI,-93.13,45.55,5.7
67,USC00211448,CHANHASSEN WSFO,CARVER,-93.56,44.85,5.1
68,USC00213567,HASTINGS DAM 2,DAKOTA,-92.87,44.76,4.0
69,USC00214176,JORDAN 1SSW,SCOTT,-93.64,44.65,4.2
70,USC00214884,LOWER ST. ANTHONY FALLS,HENNEPIN,-93.25,44.98,4.8
71,USC00215838,NEW HOPE,HENNEPIN,-93.38,45.01,9.1
72,USC00217020,ROCKFORD,WRIGHT,-93.74,45.09,5.9
73,USC00218039,STILLWATER 2SW,WASHINGTON,-92.85,45.05,4.6
74,USC00218450,UNIVERSITY OF MN ST. PAUL,RAMSEY,-93.18,44.99,5.0
75,USC00218477,VADNAIS LAKE,RAMSEY,-93.10,45.05,5.0
76,USC00218986,WILD RIVER STATE PARK,CHISAGO,-92.75,45.52,7.0
77,USW00014922,MINNEAPOLIS ST PAUL INTL AP,HENNEPIN,-93.23,44.88,4.7
78,USW00014926,ST CLOUD REGIONAL AP,SHERBURNE,-94.05,45.54,7.5

In [181]:
def metro_snowtotals_by_dates(df, start_date, end_date):
    
    filtered_df = filter_by_dates(df, start_date, end_date)
    
    total_df = group_and_summarize_dataframe(filtered_df, 'station',\
                                           [('name', 'name', lambda x: x.unique()),\
                                            ('county', 'county', lambda x: x.unique()),\
                                            ('longitude', 'longitude', lambda x: x.unique()),\
                                            ('latitude', 'latitude',  lambda x: x.unique()),\
                                            ('snowtotal', 'snowfall', 'sum')])
    return total_df

In [191]:
def lookup_snowtotals_by_emergency(snow_df, name):
    
    emergencies_df = pd.read_csv("episodes.csv")
    
    emergency_df = emergencies_df[emergencies_df.emergency == name]
    
    start_date = emergency_df.storm_begin_date.tolist()[0]
    end_date  = emergency_df.declaration_date.tolist()[0]
    
    start_date = parse(start_date)
    end_date = parse(end_date)
    
    snow_amounts_df = metro_snowtotals_by_dates(snow_df, start_date, end_date)
    
    return snow_amounts_df

In [193]:
lookup_snowtotals_by_emergency(all_amounts_df, 'Xerxes')

,station,name,county,longitude,latitude,snowtotal
0,US1MNAA0054,ANOKA 1.3 SSE,ANOKA,-93.37,45.19,3.8
1,US1MNAA0056,BLAINE 2.2 NNW,ANOKA,-93.23,45.20,3.4
2,US1MNCG0001,RUSH CITY 2.8 NE,CHISAGO,-92.93,45.72,4.0
3,US1MNCG0003,CHISAGO CITY 1.8 ENE,CHISAGO,-92.88,45.36,5.2
4,US1MNCG0007,STACY 1.4 NW,CHISAGO,-93.02,45.40,4.3
5,US1MNCG0016,NORTH BRANCH 1.3 NNW,CHISAGO,-92.97,45.53,4.2
6,US1MNCG0027,NORTH BRANCH 2.4 WSW,CHISAGO,-93.01,45.50,4.0
7,US1MNCV0001,CARVER 0.7 W,CARVER,-93.64,44.76,4.4
8,US1MNCV0008,WATERTOWN 0.5 NNW,CARVER,-93.85,44.97,4.0
9,US1MNCV0022,VICTORIA 1.6 WSW,CARVER,-93.69,44.86,4.4
10,US1MNCV0027,CHANHASSEN 3.4 NW,CARVER,-93.61,44.89,4.6
11,US1MNCV0028,CHASKA 0.6 E,CARVER,-93.60,44.81,4.3
12,US1MNDK0011,ROSEMOUNT 3.3 WNW,DAKOTA,-93.13,44.76,6.0
13,US1MNDK0014,INVER GROVE HEIGHTS 1.3 ENE,DAKOTA,-93.04,44.83,6.0
14,US1MNDK0015,BURNSVILLE 3.0 NE,DAKOTA,-93.23,44.79,6.0
15,US1MNDK0017,LAKEVILLE 2.2 SSW,DAKOTA,-93.27,44.65,6.5
16,US1MNDK0044,ROSEMOUNT 4.5 WSW,DAKOTA,-93.15,44.72,5.2
17,US1MNDK0063,NORTHFIELD 2.4 NE,DAKOTA,-93.13,44.48,5.3
18,US1MNDK0070,EAGAN 2.0 NNW,DAKOTA,-93.18,44.84,5.0
19,US1MNDK0073,LAKEVILLE 2.6 NNE,DAKOTA,-93.23,44.71,6.0
20,US1MNDK0079,INVER GROVE HEIGHTS 1.6 WSW,DAKOTA,-93.09,44.81,5.8
21,US1MNHN0006,LONG LAKE 0.2 WSW,HENNEPIN,-93.57,44.98,5.0
22,US1MNHN0009,MINNEAPOLIS 3.0 NNW,HENNEPIN,-93.29,45.00,5.2
23,US1MNHN0014,MINNETRISTA 1.5 SSE,HENNEPIN,-93.70,44.91,4.5
24,US1MNHN0017,EDEN PRAIRIE 3.3 WSW,HENNEPIN,-93.52,44.83,0.0
25,US1MNHN0019,EDINA 1.3 SW,HENNEPIN,-93.38,44.88,4.8
26,US1MNHN0028,MINNEAPOLIS 3.8 SSW,HENNEPIN,-93.29,44.91,5.8
27,US1MNHN0030,PLYMOUTH 2.4 ENE,HENNEPIN,-93.42,45.04,4.0
28,US1MNHN0031,MAPLE GROVE 1.0 NNE,HENNEPIN,-93.46,45.12,3.8
29,US1MNHN0072,MAPLE GROVE 2.9 NE,HENNEPIN,-93.42,45.14,4.0
...,...,...,...,...,...,...
51,US1MNSC0025,ELKO NEW MARKET 4.8 WNW,SCOTT,-93.43,44.58,0.0
52,US1MNSH0010,BIG LAKE 5.6 NNE,SHERBURNE,-93.69,45.41,4.0
53,US1MNSH0017,ZIMMERMAN 0.6 S,SHERBURNE,-93.60,45.43,3.3
54,US1MNSH0019,BECKER 1.9 NNW,SHERBURNE,-93.88,45.41,5.0
55,US1MNSH0985,PRINCETON 3.3 WSW,SHERBURNE,-93.64,45.55,5.1
56,US1MNWG0016,WOODBURY 1.7 N,WASHINGTON,-92.92,44.93,5.4
57,US1MNWG0020,STILLWATER 1.4 NE,WASHINGTON,-92.81,45.07,5.0
58,US1MNWG0033,COTTAGE GROVE 1.6 NNW,WASHINGTON,-92.94,44.84,5.0
59,US1MNWG0035,OAK PARK HEIGHTS 2.4 W,WASHINGTON,-92.84,45.03,5.6
60,US1MNWG0040,AFTON 1.8 NE,WASHINGTON,-92.79,44.92,5.0
61,US1MNWR0008,SAINT MICHAEL 1.3 E,WRIGHT,-93.67,45.20,4.5
62,US1MNWR0025,SAINT MICHAEL 2.0 ENE,WRIGHT,-93.65,45.21,3.5
63,US1MNWR0035,OTSEGO 2.1 WSW,WRIGHT,-93.66,45.25,3.8
64,US1MNWR0038,MONTICELLO 4.8 WNW,WRIGHT,-93.89,45.32,5.0
65,US1MNWR0040,CLEARWATER 5.4 SSE,WRIGHT,-94.03,45.35,4.2
66,USC00211448,CHANHASSEN WSFO,CARVER,-93.56,44.85,4.5
67,USC00212088,DELANO,WRIGHT,-93.79,45.04,0.0
68,USC00212500,ELK RIVER,SHERBURNE,-93.58,45.30,4.1
69,USC00213567,HASTINGS DAM 2,DAKOTA,-92.87,44.76,5.0
70,USC00214176,JORDAN 1SSW,SCOTT,-93.64,44.65,3.7
71,USC00214884,LOWER ST. ANTHONY FALLS,HENNEPIN,-93.25,44.98,5.0
72,USC00215838,NEW HOPE,HENNEPIN,-93.38,45.01,4.3
73,USC00217020,ROCKFORD,WRIGHT,-93.74,45.09,3.7
74,USC00217107,ROSEMOUNT RESEARCH AND OUTREACH C,DAKOTA,-93.10,44.72,5.0
75,USC00218039,STILLWATER 2SW,WASHINGTON,-92.85,45.05,5.4
76,USC00218450,UNIV OF MINN ST PAUL,RAMSEY,-93.18,44.98,5.5
77,USC00218477,VADNAIS LAKE,RAMSEY,-93.10,45.05,8.0
78,USC00218986,WILD RIVER STATE PARK,CHISAGO,-92.75,45.52,4.5
79,USW00014922,MINNEAPOLIS ST PAUL INTL AP,HENNEPIN,-93.23,44.88,5.6
80,USW00014926,ST CLOUD REGIONAL AP,SHERBURNE,-94.05,45.54,4.7

In [194]:
# The code below was not mine - the source is given below
# https://geoffboeing.com/2015/10/exporting-python-data-geojson/

import geojson

def df_to_geojson(df, properties, lat='latitude', lon='longitude'):
    geojson = {'type':'FeatureCollection', 'features':[]}
    for _, row in df.iterrows():
        feature = {'type':'Feature',
                   'properties':{},
                   'geometry':{'type':'Point',
                               'coordinates':[]}}
        feature['geometry']['coordinates'] = [row[lon],row[lat]]
        for prop in properties:
            feature['properties'][prop] = row[prop]
        geojson['features'].append(feature)
    return geojson

In [195]:
df_to_geojson(lookup_snowtotals_by_emergency(all_amounts_df, 'Xerxes'), ['station', 'name', 'snowtotal'])

{'type': 'FeatureCollection',
 'features': [{'type': 'Feature',
   'properties': {'station': 'US1MNAA0054',
    'name': 'ANOKA 1.3 SSE',
    'snowtotal': 3.8},
   'geometry': {'type': 'Point', 'coordinates': [-93.37, 45.19]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNAA0056',
    'name': 'BLAINE 2.2 NNW',
    'snowtotal': 3.4},
   'geometry': {'type': 'Point', 'coordinates': [-93.23, 45.2]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNCG0001',
    'name': 'RUSH CITY 2.8 NE',
    'snowtotal': 4.0},
   'geometry': {'type': 'Point', 'coordinates': [-92.93, 45.72]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNCG0003',
    'name': 'CHISAGO CITY 1.8 ENE',
    'snowtotal': 5.2},
   'geometry': {'type': 'Point', 'coordinates': [-92.88, 45.36]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNCG0007',
    'name': 'STACY 1.4 NW',
    'snowtotal': 4.3},
   'geometry': {'type': 'Point', 'coordinates': [-93.02, 45.4]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNCG0016',
    'name': 'NORTH BRANCH 1.3 NNW',
    'snowtotal': 4.2},
   'geometry': {'type': 'Point', 'coordinates': [-92.97, 45.53]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNCG0027',
    'name': 'NORTH BRANCH 2.4 WSW',
    'snowtotal': 4.0},
   'geometry': {'type': 'Point', 'coordinates': [-93.01, 45.5]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNCV0001',
    'name': 'CARVER 0.7 W',
    'snowtotal': 4.4},
   'geometry': {'type': 'Point', 'coordinates': [-93.64, 44.76]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNCV0008',
    'name': 'WATERTOWN 0.5 NNW',
    'snowtotal': 4.0},
   'geometry': {'type': 'Point', 'coordinates': [-93.85, 44.97]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNCV0022',
    'name': 'VICTORIA 1.6 WSW',
    'snowtotal': 4.4},
   'geometry': {'type': 'Point', 'coordinates': [-93.69, 44.86]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNCV0027',
    'name': 'CHANHASSEN 3.4 NW',
    'snowtotal': 4.6},
   'geometry': {'type': 'Point', 'coordinates': [-93.61, 44.89]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNCV0028',
    'name': 'CHASKA 0.6 E',
    'snowtotal': 4.3},
   'geometry': {'type': 'Point', 'coordinates': [-93.6, 44.81]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNDK0011',
    'name': 'ROSEMOUNT 3.3 WNW',
    'snowtotal': 6.0},
   'geometry': {'type': 'Point', 'coordinates': [-93.13, 44.76]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNDK0014',
    'name': 'INVER GROVE HEIGHTS 1.3 ENE',
    'snowtotal': 6.0},
   'geometry': {'type': 'Point', 'coordinates': [-93.04, 44.83]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNDK0015',
    'name': 'BURNSVILLE 3.0 NE',
    'snowtotal': 6.0},
   'geometry': {'type': 'Point', 'coordinates': [-93.23, 44.79]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNDK0017',
    'name': 'LAKEVILLE 2.2 SSW',
    'snowtotal': 6.5},
   'geometry': {'type': 'Point', 'coordinates': [-93.27, 44.65]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNDK0044',
    'name': 'ROSEMOUNT 4.5 WSW',
    'snowtotal': 5.2},
   'geometry': {'type': 'Point', 'coordinates': [-93.15, 44.72]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNDK0063',
    'name': 'NORTHFIELD 2.4 NE',
    'snowtotal': 5.3},
   'geometry': {'type': 'Point', 'coordinates': [-93.13, 44.48]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNDK0070',
    'name': 'EAGAN 2.0 NNW',
    'snowtotal': 5.0},
   'geometry': {'type': 'Point', 'coordinates': [-93.18, 44.84]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNDK0073',
    'name': 'LAKEVILLE 2.6 NNE',
    'snowtotal': 6.0},
   'geometry': {'type': 'Point', 'coordinates': [-93.23, 44.71]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNDK0079',
    'name': 'INVER GROVE HEIGHTS 1.6 WSW',
    'snowtotal': 5.8},
   'geometry': {'type': 'Point', 'coordinates': [-93.09, 44.81]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNHN0006',
    'name': 'LONG LAKE 0.2 WSW',
    'snowtotal': 5.0},
   'geometry': {'type': 'Point', 'coordinates': [-93.57, 44.98]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNHN0009',
    'name': 'MINNEAPOLIS 3.0 NNW',
    'snowtotal': 5.2},
   'geometry': {'type': 'Point', 'coordinates': [-93.29, 45.0]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNHN0014',
    'name': 'MINNETRISTA 1.5 SSE',
    'snowtotal': 4.5},
   'geometry': {'type': 'Point', 'coordinates': [-93.7, 44.91]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNHN0017',
    'name': 'EDEN PRAIRIE 3.3 WSW',
    'snowtotal': 0.0},
   'geometry': {'type': 'Point', 'coordinates': [-93.52, 44.83]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNHN0019',
    'name': 'EDINA 1.3 SW',
    'snowtotal': 4.8},
   'geometry': {'type': 'Point', 'coordinates': [-93.38, 44.88]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNHN0028',
    'name': 'MINNEAPOLIS 3.8 SSW',
    'snowtotal': 5.8},
   'geometry': {'type': 'Point', 'coordinates': [-93.29, 44.91]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNHN0030',
    'name': 'PLYMOUTH 2.4 ENE',
    'snowtotal': 4.0},
   'geometry': {'type': 'Point', 'coordinates': [-93.42, 45.04]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNHN0031',
    'name': 'MAPLE GROVE 1.0 NNE',
    'snowtotal': 3.8},
   'geometry': {'type': 'Point', 'coordinates': [-93.46, 45.12]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNHN0072',
    'name': 'MAPLE GROVE 2.9 NE',
    'snowtotal': 4.0},
   'geometry': {'type': 'Point', 'coordinates': [-93.42, 45.14]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNHN0078',
    'name': 'RICHFIELD 1.9 WNW',
    'snowtotal': 6.0},
   'geometry': {'type': 'Point', 'coordinates': [-93.31, 44.89]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNHN0083',
    'name': 'SPRING PARK 0.2 SSE',
    'snowtotal': 4.0},
   'geometry': {'type': 'Point', 'coordinates': [-93.63, 44.93]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNHN0086',
    'name': 'EDEN PRAIRIE 3.1 ESE',
    'snowtotal': 5.6},
   'geometry': {'type': 'Point', 'coordinates': [-93.4, 44.83]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNHN0088',
    'name': 'GOLDEN VALLEY 0.8 WSW',
    'snowtotal': 4.5},
   'geometry': {'type': 'Point', 'coordinates': [-93.37, 44.98]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNHN0110',
    'name': 'EDINA 1.9 SSE',
    'snowtotal': 5.7},
   'geometry': {'type': 'Point', 'coordinates': [-93.34, 44.87]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNHN0128',
    'name': 'ROBBINSDALE 0.6 SSE',
    'snowtotal': 4.5},
   'geometry': {'type': 'Point', 'coordinates': [-93.33, 45.02]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNHN0134',
    'name': 'BROOKLYN CENTER 1.1 E',
    'snowtotal': 4.5},
   'geometry': {'type': 'Point', 'coordinates': [-93.29, 45.07]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNHN0150',
    'name': 'MAPLE GROVE 1.8 NE',
    'snowtotal': 4.0},
   'geometry': {'type': 'Point', 'coordinates': [-93.43, 45.13]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNHN0169',
    'name': 'MINNEAPOLIS 2.6 ESE',
    'snowtotal': 5.3},
   'geometry': {'type': 'Point', 'coordinates': [-93.22, 44.95]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNHN0174',
    'name': 'MINNEAPOLIS 2.1 SSW',
    'snowtotal': 5.2},
   'geometry': {'type': 'Point', 'coordinates': [-93.28, 44.93]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNHN0175',
    'name': 'BLOOMINGTON 2.0 SE',
    'snowtotal': 5.5},
   'geometry': {'type': 'Point', 'coordinates': [-93.29, 44.81]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNHN0181',
    'name': 'MINNEAPOLIS 0.4 NE',
    'snowtotal': 5.1},
   'geometry': {'type': 'Point', 'coordinates': [-93.26, 44.97]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNHN0186',
    'name': 'BROOKLYN PARK 2.2 ESE',
    'snowtotal': 3.9},
   'geometry': {'type': 'Point', 'coordinates': [-93.31, 45.1]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNIS0006',
    'name': 'CAMBRIDGE 3.0 N',
    'snowtotal': 4.0},
   'geometry': {'type': 'Point', 'coordinates': [-93.23, 45.6]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNIS0008',
    'name': 'BRAHAM 0.7 ENE',
    'snowtotal': 3.8},
   'geometry': {'type': 'Point', 'coordinates': [-93.16, 45.72]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNRM0002',
    'name': 'NORTH SAINT PAUL 1.0 NNW',
    'snowtotal': 5.6},
   'geometry': {'type': 'Point', 'coordinates': [-93.01, 45.03]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNRM0007',
    'name': 'SAINT PAUL 3.3 WNW',
    'snowtotal': 0.0},
   'geometry': {'type': 'Point', 'coordinates': [-93.17, 44.96]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNRM0015',
    'name': 'ROSEVILLE 2.1 NW',
    'snowtotal': 4.0},
   'geometry': {'type': 'Point', 'coordinates': [-93.19, 45.03]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNRM0054',
    'name': 'SAINT PAUL 5.1 SW',
    'snowtotal': 6.0},
   'geometry': {'type': 'Point', 'coordinates': [-93.19, 44.9]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNRM0063',
    'name': 'NORTH SAINT PAUL 1.0 NW',
    'snowtotal': 5.3},
   'geometry': {'type': 'Point', 'coordinates': [-93.01, 45.02]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNSC0002',
    'name': 'PRIOR LAKE 2.0 W',
    'snowtotal': 0.0},
   'geometry': {'type': 'Point', 'coordinates': [-93.46, 44.71]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNSC0025',
    'name': 'ELKO NEW MARKET 4.8 WNW',
    'snowtotal': 0.0},
   'geometry': {'type': 'Point', 'coordinates': [-93.43, 44.58]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNSH0010',
    'name': 'BIG LAKE 5.6 NNE',
    'snowtotal': 4.0},
   'geometry': {'type': 'Point', 'coordinates': [-93.69, 45.41]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNSH0017',
    'name': 'ZIMMERMAN 0.6 S',
    'snowtotal': 3.3},
   'geometry': {'type': 'Point', 'coordinates': [-93.6, 45.43]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNSH0019',
    'name': 'BECKER 1.9 NNW',
    'snowtotal': 5.0},
   'geometry': {'type': 'Point', 'coordinates': [-93.88, 45.41]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNSH0985',
    'name': 'PRINCETON 3.3 WSW',
    'snowtotal': 5.1},
   'geometry': {'type': 'Point', 'coordinates': [-93.64, 45.55]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNWG0016',
    'name': 'WOODBURY 1.7 N',
    'snowtotal': 5.4},
   'geometry': {'type': 'Point', 'coordinates': [-92.92, 44.93]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNWG0020',
    'name': 'STILLWATER 1.4 NE',
    'snowtotal': 5.0},
   'geometry': {'type': 'Point', 'coordinates': [-92.81, 45.07]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNWG0033',
    'name': 'COTTAGE GROVE 1.6 NNW',
    'snowtotal': 5.0},
   'geometry': {'type': 'Point', 'coordinates': [-92.94, 44.84]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNWG0035',
    'name': 'OAK PARK HEIGHTS 2.4 W',
    'snowtotal': 5.6},
   'geometry': {'type': 'Point', 'coordinates': [-92.84, 45.03]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNWG0040',
    'name': 'AFTON 1.8 NE',
    'snowtotal': 5.0},
   'geometry': {'type': 'Point', 'coordinates': [-92.79, 44.92]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNWR0008',
    'name': 'SAINT MICHAEL 1.3 E',
    'snowtotal': 4.5},
   'geometry': {'type': 'Point', 'coordinates': [-93.67, 45.2]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNWR0025',
    'name': 'SAINT MICHAEL 2.0 ENE',
    'snowtotal': 3.5},
   'geometry': {'type': 'Point', 'coordinates': [-93.65, 45.21]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNWR0035',
    'name': 'OTSEGO 2.1 WSW',
    'snowtotal': 3.8},
   'geometry': {'type': 'Point', 'coordinates': [-93.66, 45.25]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNWR0038',
    'name': 'MONTICELLO 4.8 WNW',
    'snowtotal': 5.0},
   'geometry': {'type': 'Point', 'coordinates': [-93.89, 45.32]}},
  {'type': 'Feature',
   'properties': {'station': 'US1MNWR0040',
    'name': 'CLEARWATER 5.4 SSE',
    'snowtotal': 4.2},
   'geometry': {'type': 'Point', 'coordinates': [-94.03, 45.35]}},
  {'type': 'Feature',
   'properties': {'station': 'USC00211448',
    'name': 'CHANHASSEN WSFO',
    'snowtotal': 4.5},
   'geometry': {'type': 'Point', 'coordinates': [-93.56, 44.85]}},
  {'type': 'Feature',
   'properties': {'station': 'USC00212088',
    'name': 'DELANO',
    'snowtotal': 0.0},
   'geometry': {'type': 'Point', 'coordinates': [-93.79, 45.04]}},
  {'type': 'Feature',
   'properties': {'station': 'USC00212500',
    'name': 'ELK RIVER',
    'snowtotal': 4.1},
   'geometry': {'type': 'Point', 'coordinates': [-93.58, 45.3]}},
  {'type': 'Feature',
   'properties': {'station': 'USC00213567',
    'name': 'HASTINGS DAM 2',
    'snowtotal': 5.0},
   'geometry': {'type': 'Point', 'coordinates': [-92.87, 44.76]}},
  {'type': 'Feature',
   'properties': {'station': 'USC00214176',
    'name': 'JORDAN 1SSW',
    'snowtotal': 3.7},
   'geometry': {'type': 'Point', 'coordinates': [-93.64, 44.65]}},
  {'type': 'Feature',
   'properties': {'station': 'USC00214884',
    'name': 'LOWER ST. ANTHONY FALLS',
    'snowtotal': 5.0},
   'geometry': {'type': 'Point', 'coordinates': [-93.25, 44.98]}},
  {'type': 'Feature',
   'properties': {'station': 'USC00215838',
    'name': 'NEW HOPE',
    'snowtotal': 4.3},
   'geometry': {'type': 'Point', 'coordinates': [-93.38, 45.01]}},
  {'type': 'Feature',
   'properties': {'station': 'USC00217020',
    'name': 'ROCKFORD',
    'snowtotal': 3.7},
   'geometry': {'type': 'Point', 'coordinates': [-93.74, 45.09]}},
  {'type': 'Feature',
   'properties': {'station': 'USC00217107',
    'name': 'ROSEMOUNT RESEARCH AND OUTREACH C',
    'snowtotal': 5.0},
   'geometry': {'type': 'Point', 'coordinates': [-93.1, 44.72]}},
  {'type': 'Feature',
   'properties': {'station': 'USC00218039',
    'name': 'STILLWATER 2SW',
    'snowtotal': 5.4},
   'geometry': {'type': 'Point', 'coordinates': [-92.85, 45.05]}},
  {'type': 'Feature',
   'properties': {'station': 'USC00218450',
    'name': 'UNIV OF MINN ST PAUL',
    'snowtotal': 5.5},
   'geometry': {'type': 'Point', 'coordinates': [-93.18, 44.98]}},
  {'type': 'Feature',
   'properties': {'station': 'USC00218477',
    'name': 'VADNAIS LAKE',
    'snowtotal': 8.0},
   'geometry': {'type': 'Point', 'coordinates': [-93.1, 45.05]}},
  {'type': 'Feature',
   'properties': {'station': 'USC00218986',
    'name': 'WILD RIVER STATE PARK',
    'snowtotal': 4.5},
   'geometry': {'type': 'Point', 'coordinates': [-92.75, 45.52]}},
  {'type': 'Feature',
   'properties': {'station': 'USW00014922',
    'name': 'MINNEAPOLIS ST PAUL INTL AP',
    'snowtotal': 5.6},
   'geometry': {'type': 'Point', 'coordinates': [-93.23, 44.88]}},
  {'type': 'Feature',
   'properties': {'station': 'USW00014926',
    'name': 'ST CLOUD REGIONAL AP',
    'snowtotal': 4.7},
   'geometry': {'type': 'Point', 'coordinates': [-94.05, 45.54]}}]}

In [142]:
#  Finally - at the end --

def get_snowfall_geojson_by_emergency(snow_emergency):
    
    return df_to_geojson(lookup_snowtotals_by_emergency(all_amounts_df, snow_emegency),\
                         ['station', 'name', 'snowtotal'])

1